.dark{
  background-color:#333;
}
.dark .QuoteList li, .dark .QuoteList li span, .dark .QuoteList li button{
  border-color:#ddd;
}

.QuoteList li{
  border-color:#333;
  border-width:1px;
  padding:5px;
}
.QuoteList li span{
  padding:2px 5px;
  margin:0 5px;
}
.QuoteList li q{
  margin-left:10px;
}
.QuoteList li button{
  border-width: 1px;
  border-color:#333;
  padding:8px;
}